input[type=range] { 
    -webkit-appearance: none; /*기본 스타일을 사용할지 말지 정하기 */
    width:80%;
    background: red; /*바 선색, transparent 로 설정하면 배경생이랑 동일해져 == 투명*/ 
  }
   
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    outline: 0;
    border: 0;
}
   
   
   body {
        font-family:Arial, Helvetica, sans-serif; /*인풋이랑 아우풋 부분 빼고는 폰트를 그냥 일반 폰트로 설정했어 바꿔도돼*/
        font-weight: bold;
        display: block;
        align-items: center;
        justify-content: center;
        text-align: center;
        min-height: 100vh;  
        margin: 0%;      
     }

     @media(min-width:800px){  /*여기가 웹일때 폰트 크기 지정하는 곳이야 455px보다 화면이 크면 웹이라고 인식해*/
        .slidebardiv{
             display:none;
        }
        .type1_sub{
            font-size: 1.1rem;
        }
        #mainsub{
            font-size: 1.3rem;
        }
        #explanation{
            font-size: 1.1rem;
            line-height: 1.4rem;
        }
        #input-letter{
            font-size: 7.5rem;
        }
        .output-letter{
            font-size: 5rem;
        }
        .input-div{
            position: relative;
            display: table-cell;
            vertical-align: middle;
            width: 100vw;
            height: 100vh;
            z-index: 1;
         }
         #footer{
             font-size:0.8rem;
         }
         .foot_kucd{
            
            text-align: left;
            justify-content: flex-start;
            width: 33%;
             float: left;
             margin: 0;
    
         }
         
          .foot_insta{
            
            text-align: left;
            justify-content: flex-start;
            width: 33%;
               float: left;
         }

         .foot_anji{
             text-align: right; 
             justify-content: flex-end;
             width: 33%;
              float: right;
         }
     }


     @media(max-width:799px){ /*455px보다 작으면 모바일이라고 인식해*/
        #note-x{
            display:none;
            z-index: -300;
        }
        #note-y{
            display: none;
            z-index: -400;
        }
        .type1_sub{
            font-size: 1rem;
        }
        #mainsub{
            font-size: 1.2rem;
           
            
        }
        #explanation{
            font-size: 1rem;
            line-height: 1.5rem;
            word-break: keep-all;
        
        }
        #input-letter{
            font-size: 2.2rem;
            top: 10%;
            
            
        }
        .output-letter{
            font-size: 2.3rem;
            line-height: 13vw;
        }
        .input-div{
            position:relative;
            top: 100px;
            display: table-cell;
            vertical-align: middle;
            width: 100vw;
            height: 50vh;
            z-index: 1;
        }
        
         #footer{
             font-size:0.9rem;
             text-align: center;
         }
       
     }
     .slidebardiv{
         position: absolute;
         top : 65%;
         left: 3%;
         width: 90%;
         z-index: 2;

     }
    .slidebar{
     left: 10%;
     width: 80%;
     height: 2px;
     border-radius: 1px;
   
    }
  



    .slideval{
     border:0; 
     display:none;
     color:#adadad; 
     font-weight:bold;
     width: 40px;
    
     
    }
    .first-part{
        
        width: 98vw;
        height: 100vh;
    }
 
    #input-letter:focus{
        outline: none;
    }
    #input-letter{
        position: relative;
        
        font-family: "NEWtro_T",Times; 
  
        font-variation-settings: "YEAR" 1930, "TEMP" 0;
       
    }
    textarea{
     border:0;
     font-family: "NEWtro_T",Times;
     width: 80%;
     background-color: transparent;
     text-align: center;
     overflow: hidden;
        
    }
   
   
    .output-letter{ /*쓴글씨들 보이는 공간 css*/
     
     resize: none;
     margin-top: 0%;
     margin-bottom: 3%;
     outline: none;
     
    }
    .type1_sub{
        margin:0%;
        z-index: -200;
        opacity: 0.8;
    } 
 
    #note-y{
     
     width: 50.2%;
     height: 100%; 
     border-left: dotted 1px #000;
     position: absolute;
     top: 0;
     right: 0;
     font-size: 12px;
     text-align: left;
     /*line-height: 195vh;*/
     z-index: -300;
     opacity: 0.8;
  
    }
    #note-x{
     width: 100%;
     height: 50.3%;
     border-bottom: dotted 1px #000;
     position: absolute;
     top: 0;
     left: 0;
     text-align: right;
     /*line-height: 95vh;*/
     font-size: 12px;
     z-index: -400;
     opacity: 0.8;
   
    }
    


    #mainsub{
        position: absolute;
        top:10%;
        left: 10%;
        
    }
    #explanation{
        text-align: left;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 15%;
       
        
    }

    #footer{
        
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 3%;
        margin-top: 5%;
        border-top:solid 1px #000;
        line-height: 4vh;
        opacity: 0.8;
        font-weight: lighter;
    }


#axis-past{
    position:absolute;
    text-align: left;
    left: 3%;
    top: 3%;
    font-size: 0.8rem;
  
}
#axis-today{
    position:absolute;
    text-align: left;
    left: 3%;
    bottom: 3%;
    margin-top: -3%;
    font-size: 0.8rem;
    
}


#axis-slow{
    position:absolute;
    bottom: 3%;
    text-align: right;
    left: 3%;
    font-size: 0.8rem;
   
}
#axis-fast{
     position:absolute;
    text-align: left;
    right: 3%;
    bottom: 3%;
    font-size: 0.8rem;
 
   
   
}

a:link { text-decoration: none;}
a:visited { text-decoration: none;}
a:active{ text-decoration: none;}
a:hover { text-decoration:none;}
